<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                {{#if editar}}
                <form action="/pedidos/editar/{{id}}" method="POST">
                    {{else}}
                    <form action="/pedidos/nuevo/{{id}}" method="POST">
                        {{/if}}
                        <div class="form-group">
                            <label for="descripcion">Anotación</label>
                            <textarea placeholder="Opcional..." class="form-control" name="descripcion" id="descripcion"
                                cols="10" rows="2" autocomplete="off" autofocus>{{pedidos.descripcion}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Crear</button>
                    </form>
            </div>
        </div>
    </div>
</div>