<div class="row" id="indexRow">
    <div class="col" id="col1">
        <a href="/empleados">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/3238/3238594.svg" width="150px" alt="Pedidos">
        </a>
        <p style="font-size: large;">Empleados</p>
    </div>
    <div class="col" id="col2">
        <a href="/productos">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/2942/2942322.svg" width="150px" alt="Clientes">
        </a>
        <p style="font-size: large;">Productos</p>
    </div>
    <div class="col" id="col3">
        <a href="/proveedores">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/2103/2103783.svg" width="150px" alt="Productos">
        </a>
        <p style="font-size: large;">Proveedores</p>
    </div>
</div>