<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login p-5 bg-white border border-primary rounded-lg" style="width: 18rem;">
        <form action="/administrador" method="GET">
            <div class="form-group">
                <label for="email">Nombre de usuario</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" autocomplete="off"
                    autofocus>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary d-block mx-auto mt-5">Ingresar</button>
        </form>
    </div>
    <div class="vertical mx-5" style="border-right: thin solid #2196F3; height: 500px;">
    </div>
    <div class="logo">
        <h1 class="sublimatodo">Sublimatodo</h1>
    </div>
</div>