<div class="row" id="indexRow">
    <div class="col" id="col1">
        <a href="/pedidos">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/1493/1493693.svg" width="150px" alt="Pedidos">
        </a>
        <p style="font-size: large;">Pedidos</p>
    </div>
    <div class="col" id="col2">
        <a href="/clientes">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/3232/3232803.svg" width="150px" alt="Clientes">
        </a>
        <p style="font-size: large;">Clientes</p>
    </div>
    {{!-- <div class="col" id="col3">
        <a href="/productos">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/2942/2942322.svg" width="150px" alt="Productos">
        </a>
        <p style="font-size: large;">Productos</p>
    </div> --}}
    <div class="col" id="col4">
        <a href="/administrador/login">
            <img class="mb-3" src="https://image.flaticon.com/icons/svg/3231/3231327.svg" width="150px"
                alt="Administrador">
        </a>
        <p style="font-size: large;">Administrador</p>
    </div>
</div>