<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sublimatodo</title>
    {{!-- Bootrstrap --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    {{!-- Custom --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
    {{{body}}}
</body>

</html>